:root {
  /* ======Black */
  --b1: rgba(0, 0, 0, 1);
  --b2: rgba(19, 19, 19, 1);
  --b3: rgba(47, 47, 47, 1);
  --b4: rgba(75, 75, 75, 1);
  --b5: rgba(75, 75, 75, 1);
  --b6: rgba(102, 102, 102, 1);
  --b7: rgba(129, 129, 129, 1);
  --b8: rgba(155, 155, 155, 1);
  --b9: rgba(155, 155, 155, 1);
  --b10: rgba(180, 180, 180, 1);
  /* ==============Red */
  --r1: rgba(236, 0, 0, 1);
  --r2: rgba(244, 45, 36, 1);
  --r3: rgba(245, 62, 56, 1);
  --r4: rgba(245, 84, 80, 1);
  --r5: rgba(246, 108, 106, 1);
  --r6: rgba(247, 133, 131, 1);
  --r7: rgba(248, 158, 157, 1);
  --r8: rgba(249, 182, 181, 1);
  --r9: rgba(251, 206, 206, 1);
  --r10: rgba(253, 231, 230, 1);
  /* ==================Sky */
  --s1: rgba(222, 237, 242, 1);
  --s2: rgba(230, 243, 246, 1);
  --s3: rgba(241, 248, 250, 1);
  /* ================ White */
  --w1: rgba(255, 255, 255, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
.subtitle {
  /*titulos footer         */
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.title {
  /*titulos mobile */
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .title {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
}

.funcional {
  /*funcional botoes mobile */
  font-family: Helvetica, sans-serif;
  /* font-size: 0.75rem; */
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .funcional {
    font-family: Helvetica, sans-serif;
    /* font-size: 1rem; */
    line-height: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.f2 {
  /*funcional botoes de destaque */
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.f3 {
  /*funcional menu */
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.body-text {
  /*corpo de texto mobile */
  font-family: "Fira Sans", sans-serif;
  /* font-size: 0.75rem; */

  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .body-text {
    font-family: "Fira Sans", sans-serif;
    /* font-size: 1rem; */
    font-size: 1.25rem;

    line-height: 1.25rem;
    font-weight: 400;
  }
}

.btn {
  outline: none;
  border: none;
  background-color: var(--r1);
  color: var(--w1);
  padding: 8px 40px;
  border-radius: 16px;
  text-align: center;
}
.text-copyrights {
  color: var(--w1);
  font-size: 0.8rem;
  font-family: "Fira Sans", sans-serif;
}
.no-break {
  white-space: nowrap;
}
