:root {
  font-size: 62.5%;

  /* ======Fontes */
  --Ubuntu: "Ubuntu", sans-serif;
  --FiraSans: "Fira Sans", sans-serif;
  --FiraCode: "Fira Code", sans-serif;

  /* ======Black */
  --b1: rgba(0, 0, 0, 1);
  --b2: rgba(19, 19, 19, 1);
  --b3: rgba(47, 47, 47, 1);
  --b4: rgba(75, 75, 75, 1);
  --b5: rgba(75, 75, 75, 1);
  --b6: rgba(102, 102, 102, 1);
  --b7: rgba(129, 129, 129, 1);
  --b8: rgba(155, 155, 155, 1);
  --b9: rgba(155, 155, 155, 1);
  --b10: rgba(180, 180, 180, 1);
  /* ==============Red */
  --r1: rgba(236, 0, 0, 1);
  --r2: rgba(244, 45, 36, 1);
  --r3: rgba(245, 62, 56, 1);
  --r4: rgba(245, 84, 80, 1);
  --r5: rgba(246, 108, 106, 1);
  --r6: rgba(247, 133, 131, 1);
  --r7: rgba(248, 158, 157, 1);
  --r8: rgba(249, 182, 181, 1);
  --r9: rgba(251, 206, 206, 1);
  --r10: rgba(253, 231, 230, 1);
  /* ==================Sky */
  --s0: rgba(118, 156, 203, 1);
  --s1: rgba(222, 237, 242, 1);
  --s2: rgba(230, 243, 246, 1);
  --s3: rgba(241, 248, 250, 1);
  --s4: rgba(231, 235, 236, 1);

  /* ================ White */
  --w1: rgba(255, 255, 255, 1);
}