#solicite {
  background-image: url("/assets/bg-photos/bg-woman.svg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.text-solicite {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 70px;
  color: var(--w1);
  margin: 0px 16px;
}

.form-solicite {
  display: flex;
  flex-direction: row;
  max-width: 360px;
  padding: 38px;
  color: var(--w1);
  background-color: var(--r1);
  border-radius: 16px;
  /* margin: 0px 72px 38px; */
  margin-bottom: 38px;
}
.form-text {
  text-align: center;
}
.form-input {
  text-align: center;
  display: block;
  padding: 8px;

  border-radius: 16px;
  border-width: 0px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;
}
.form-solicite .btn {
  background-color: var(--w1);
  color: var(--b1);
  width: 100%;
}
